%% -*- mode: erlang; -*-
{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [
        sync,
        lager
       ]}.

{relx, [{release, { user_handlers, "0.1.0" },
         [
          user_handlers, esofo,

          sasl,

          %% required for observer
          observer, wx, runtime_tools, inets,

          {sync, load},
          lager
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
